.stock-container {
  margin: 40px 40px;
  padding: 20px;
  max-width: 90%;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.stock-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.stock-header h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto;
}

.stock-header button {
  background-color: beige;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.stock-header button:hover {
  background-color: #1a1b1d;
}
.stock-header button:active {
  background-color: #1a1b1d;
  background: none;
}
.stock-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stock-table th,
.stock-table td {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
}

.stock-table th {
  background-color: #f1f1f1;
  font-weight: bold;
}

.stock-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.stock-table tr:hover {
  background-color: #f2f2f2;
}


button {
  padding: 0.6rem 1rem;
  font-size: 0.8rem;
  border-radius: 5px;
}

#btnAgregar {
  background-color: #4d84c2;
  color: rgb(12, 11, 11);
  border: none;
}

button[type="button"] {
  background-color: #6c757d;
  color: white;
  border: none;
}


.table {
  margin-top: 0.4rem;
}

.table th,
.table td {
  padding: 0.1rem;
  text-align: center;
}

.table th {
  font-weight: bold;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-striped tbody tr:hover {
  background-color: #e9ecef;
}


.stock-table .btn {
  padding: 0.2rem 0.4rem;
  font-size: 1.2rem;
  display: inline-block;
}

.stock-table .fa-edit,
.stock-table .fa-trash {
  font-size: 1.2rem;
  cursor: pointer;
}

.stock-table .fa-edit:hover {
  color: #007bff;
}

.stock-table .fa-trash:hover {
  color: #dc3545;
}



/* Estilos para el contenedor de filtros */
.filter-container {
  margin-bottom: 20px;
}

.filter-container label {
  font-size: 12px;
}

.filter-container input {
  font-size: 12px;
  padding: 4px;
}

.btn-filtrar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #6c757d;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  border: 0;
}

.btn-filtrar:hover {
  background-color: #1a1b1d;
}


/* Paginación */

.page-item.active .page-link {
  z-index: 1;
  color: black;
  background-color: #6c757d;
  border-color: #6c757d;
}

.pagination {
  margin: 20px 0;
  font-size: 16px;
}

.pagination .page-item {
  margin: 0 5px;
}

.pagination .page-link {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
  background-color: #fff;
  text-decoration: none;
}

.pagination .page-link:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.pagination .page-item.active .page-link {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.pagination .page-item.disabled .page-link {
  color: black;
  background-color: #fff;
  border-color: #ddd;
  pointer-events: none;
}

.pagination .page-item a {
  color: black;
  text-decoration: none;
}

.pagination .page-item a:hover {
  color: #989494;
}

.pagination .page-item:first-child .page-link {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.pagination .page-item:last-child .page-link {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

/* Adaptación para dispositivos móviles */
@media (max-width: 576px) {
  .pagination {
    font-size: 14px;
  }

  .pagination .page-link {
    padding: 6px 12px;
  }
}

/* Para pantallas chicas */
@media (max-width: 460px) {

  .stock-container {
    width: 100%;
    margin: 0;
    margin: 0 auto
  }

  .stock-table{
    width: 100%
  }
  
}
